<h2>Total: {{errors.length}}</h2>
{{#if hasErrors}}
    <div class="container">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" {{action 'clearErrors'}}>
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong>Close to clear errors</strong>
            <ul class="list-group">
                {{#each errors}}
                    <li class="list-group-item">{{this.message}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}